# List
순서가 있는 수정가능한 객체의 집합입니다.
수정, 삭제, 추가가 가능합니다.
list 는 [] 대괄호로 작성되어지며, 내부 원소는 ,로 구분됩니다.

In [7]:
[1,2,3,4]

[1, 2, 3, 4]

In [8]:
type([1,2,3,4])

list

In [12]:
a = [1,2,3,4,5]
print(a[2])
print(a[4])

3
5

In [16]:
[1,2,3,4,5][2]

3

In [83]:
list_a = [1,2,[1,2,3],4]
print(list_a[2])
print(list_a [2][1])

[1, 2, 3]
2

In [21]:
list_b = []
list_c = list()

### 리스트에 원소를 추가합니다.

In [23]:
list_c = list()
list_c.append(5)
list_c

[5]

In [29]:
a = [1,2,3,4,5]
b = [10,11,12]
c = a+b
c

[1, 2, 3, 4, 5, 10, 11, 12]

In [31]:
d=a[1]+b[2]
d

14

### 문자열을 리스트로 변형해봅니다,리버스

In [78]:
str_a = "good morning"
list_a = list(str_a)
print(list_a)
print(list_a[::-1])

['g', 'o', 'o', 'd', ' ', 'm', 'o', 'r', 'n', 'i', 'n', 'g']
['g', 'n', 'i', 'n', 'r', 'o', 'm', ' ', 'd', 'o', 'o', 'g']

## List(리스트)(2) - 리스트 인덱싱, 리스트 슬라이싱

In [34]:
s = 'show ,how to index into sequences'.split(',')
s

['show ', 'how to index into sequences']

In [37]:
s = 'show ,how to index into sequences'.split()
s

['show', ',how', 'to', 'index', 'into', 'sequences']

In [39]:
s[1]

',how'

In [41]:
s = 'show how to index into sequences'.split()
s[1:4]

['how', 'to', 'index']

In [48]:
s = 'show how to index into sequences'.split()
print(s)
print(s[2 : ])
print(s[ : 4])
print(s[1:-1])
print(s[:-1])
print(s[-1:])
print(s[-3:-1])

['show', 'how', 'to', 'index', 'into', 'sequences']
['to', 'index', 'into', 'sequences']
['show', 'how', 'to', 'index']
['how', 'to', 'index', 'into']
['show', 'how', 'to', 'index', 'into']
['sequences']
['index', 'into']

### 리스트 복사

In [53]:
u = s.copy()
u

['show', 'how', 'to', 'index', 'into', 'sequences']

### step를 사용 a[start : end : step]

In [57]:
u[1:5:2]

['how', 'index']

In [67]:
q = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18]
q

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18]

In [84]:
print(q[2:12:5])
print(q[2:-1:5])
print(q[2::5])

[3, 8]
[3, 8, 13]
[3, 8, 13, 18]

### list 관련 메소드 및 연산
##### index(item) : 리스트안에서 해당 item의 index번호를 리턴, 없는 경우 ValueError

In [126]:
a = ['서울','인천', '대전','제주도','인천']
b = [1, 5, 6, 12, 4]
print(a.index('인천'))
print(b.index(12))

1
3

In [94]:
a = ['서울','인천', '대전','제주도','인천']
print(a.count('인천'))
print(a.count('서울'))

2
1

In [96]:
a = ['서울','인천', '대전','제주도','인천']
'서울'in a

True

## List(리스트)(4) - 리스트 원소 추가, 삭제

In [98]:
a = [1,2,3,4,5]
a.append(6)
a

[1, 2, 3, 4, 5, 6]

###### insert : 리스트.index(입력할index, 값)

In [100]:
a = [1,2,3,4,5]
a.insert(2,10)
a

[1, 2, 10, 3, 4, 5]

In [102]:
m = [1,3,5]
n = [2,3,6]
m+n

[1, 3, 5, 2, 3, 6]

###### extend메소드 : 리스트.extend(추가할리스트)

In [105]:
a = [1,2,3,4,5]
a.extend([2,'b'])
a

[1, 2, 3, 4, 5, 2, 'b']

### list 원소 삭제
###### del 키워드를 통한 삭제

In [110]:
a = [1,2,3,4,5]
del a[3]
a

[1, 2, 3, 5]

###### remove를 이용한 삭제

In [113]:
a = [1,2,3,4,5,6]
a.remove(2)
a

[1, 3, 4, 5, 6]

In [118]:
a = [1,2,3,4,5]
print(a.index(4))
del a[a.index(4)]
a

3

[1, 2, 3, 5]

###### pop를 이용한 삭제

In [121]:
a = [1,2,3,4,5]
a.pop(3)

4

### List(리스트)(5) - 리스트 정렬

In [127]:
a = ['kim','서울', '마산', '무산', '부산']
a.sort()
a

['kim', '마산', '무산', '부산', '서울']

In [131]:
m = '나는 파이썬을 잘하고 싶다'
list_m = m.split()
list_m.sort(key=len , reverse=True)
list_m

['파이썬을', '잘하고', '나는', '싶다']